<nav class="navbar">
  <div class="navbar-left">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="navbar-right">
    <button (click)="logout()" class="btn-logout">Logout</button>
  </div>
</nav>

<div class="dashboard-content">
  <h2>Welcome to the Admin Dashboard</h2>
  <p>Manage users, products, and orders here.</p>
  
  <button (click)="navigateToManageUsers()" class="btn-manage-users">Manage Users</button>
 
    <button (click)="navigateToManageProducts()" class="btn-manage-users">Manage Products</button>
 
</div>
